node_modules
public
.tmp
.idea
client/bower_components
dist
/server/config/local.env.js
npm-debug.log
mobileapp/phonegap/afsphonegap/platforms/android/CordovaLib/bin
mobileapp/phonegap/afsphonegap/platforms/android/CordovaLib/build
